# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Clion
.idea/
.pioenvs
.piolibdeps
cmake-build-debug/**
cmake-build-esp01/**

# platformio
.pioenvs/
.pioenvs
.piolibdeps

#eclipse
.cproject
.setting/
.project
.travis.yml

platform.io
.pio/**
CMakeListsPrivate.txt